/* Styling */
/* Colors Light */
/* Colors Dark */
/* Typography */
/* Fonts */
@font-face {
  font-family: 'futura-next';
  src: url("../fonts/Neufville Digital - FuturaNext-Bold.otf");
}

/* Layout */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #121925;
  padding-top: 40px;
}

div {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(41, 54, 76, 0.2);
          box-shadow: 0 2px 4px rgba(41, 54, 76, 0.2);
  padding: 8px 20px;
  z-index: 99;
  min-height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

.pre-nav {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  position: relative;
  min-height: 32px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 99;
}

.pre-nav .container {
  max-width: 1200px;
  padding: 0 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pre-nav .cs-link {
  height: 39px;
  width: 58px;
  position: relative;
  background-image: url("../img/logo_costsaver_watermark.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.pre-nav .cs-link:hover {
  height: 39px;
  width: 58px;
  position: relative;
  background-image: url("../img/logo_costsaver_fullColor.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pre-nav a {
  color: #545963;
  font-weight: 600;
}

.pre-nav .menu {
  float: right;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pre-nav .alert {
  padding: 0 8px;
  background-color: #121925;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 4px;
  color: #fff;
}

.pre-nav .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 16px;
}

.pre-nav a:hover {
  color: #121925;
}

.border-right {
  border-right: 1px solid #D4D7DB;
}

.border-bottom {
  border-bottom: 1px solid #D4D7DB;
}

.border-left {
  border-left: 1px solid #D4D7DB;
}

nav .container {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-box-align: center;
  position: relative;
}

nav .brand {
  height: 32px;
  float: left;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .menu-2 {
  float: right;
  display: block;
}

nav a {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  color: #121925;
}

.breadcrumbs {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  background-color: #F4F5F6;
}

.breadcrumbs .container {
  padding: 0 20px;
}

.breadcrumbs a,
.breadcrumbs p {
  color: rgba(18, 25, 37, 0.5);
}

.active {
  color: #121925 !important;
}

.breadcrumbs a:hover {
  color: #121925;
}

section {
  padding: 80px 20px;
  position: relative;
}

.section-small {
  padding: 40px 20px;
}

.section-xx-small {
  padding: 8px 20px;
}

.section-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.section-dark {
  background: #121925;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.wrapper.small {
  max-width: 960px;
}

.section-form {
  padding: 32px 0;
  border-top: 1px solid #D4D7DB;
}

.container-card-large {
  background: #fff;
  border-radius: 8px;
  padding: 40px;
  -webkit-box-shadow: 0 2px 4px rgba(41, 54, 76, 0.2);
          box-shadow: 0 2px 4px rgba(41, 54, 76, 0.2);
  width: auto;
  margin-bottom: 20px;
}

.container-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  -webkit-box-shadow: 0 2px 4px rgba(41, 54, 76, 0.2);
          box-shadow: 0 2px 4px rgba(41, 54, 76, 0.2);
  width: auto;
  margin-bottom: 20px;
}

.container-card-small {
  background: #fff;
  border-radius: 8px;
  padding: 16px;
  -webkit-box-shadow: 0 2px 4px rgba(41, 54, 76, 0.2);
          box-shadow: 0 2px 4px rgba(41, 54, 76, 0.2);
  width: auto;
  margin-bottom: 20px;
}

.sticky {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 84px;
}

.align-content-left {
  text-align: left;
}

.align-content-center {
  text-align: center;
}

.align-object-center {
  margin-left: auto;
  margin-right: auto;
}

.col-4 {
  width: 100%;
  max-width: 37.5%;
  padding: 0 20px;
}

.col-5 {
  width: 100%;
  max-width: 41.5%;
  padding: 0 20px;
}

.col-7 {
  width: 100%;
  max-width: 58.5%;
  padding: 0 20px;
}

.col-8 {
  width: 100%;
  max-width: 62.5%;
  padding: 0 20px;
}

/* Spacing Right */
.padding-right-none {
  padding-right: 0;
}

.margin-right-none {
  margin-right: 0 !important;
}

.margin-right-xx-small {
  margin-right: 4px;
}

.margin-right-x-small {
  margin-right: 8px;
}

.margin-right-small {
  margin-right: 16px;
}

.margin-right-medium {
  margin-right: 20px;
}

.margin-right-large {
  margin-right: 32px;
}

.margin-right-x-large {
  margin-right: 40px;
}

.margin-right-xx-large {
  margin-right: 80px;
}

/* Spacing Bottom */
.padding-right-medium {
  padding-left: 20px;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-left-medium {
  padding-left: 20px;
}

.margin-bottom-none {
  margin-bottom: 0 !important;
}

.margin-bottom-xx-small {
  margin-bottom: 4px;
}

.margin-bottom-x-small {
  margin-bottom: 8px;
}

.margin-bottom-small {
  margin-bottom: 16px;
}

.margin-bottom-medium {
  margin-bottom: 20px;
}

.margin-bottom-large {
  margin-bottom: 32px;
}

.margin-bottom-x-large {
  margin-bottom: 40px;
}

.margin-bottom-xx-large {
  margin-bottom: 80px;
}

/* Spacing Left */
.padding-right-medium {
  padding-left: 20px;
}

.margin-left-none {
  margin-left: 0 !important;
}

.padding-left-none {
  padding-left: 0;
}

.padding-left-medium {
  padding-left: 20px;
}

/* Typography */
p {
  margin: 0 0 16px;
  max-width: 560px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

a {
  color: #DC0933;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

a:hover {
  color: inherit;
}

.section-dark a {
  color: #F82B4F;
  text-decoration: none;
}

.section-dark a:hover {
  color: inherit;
}

h1 {
  font-family: "futura-next", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  margin: 0 0 16px;
}

h2 {
  font-family: "futura-next", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 16px;
  margin: 0 0 16px;
}

h3 {
  font-family: "futura-next", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  margin: 0 0 16px;
}

h4 {
  font-family: "futura-next", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
  margin: 0 0 16px;
}

.text-brand-primary {
  color: #DC0933;
}

.text-disclaimer-xx-small {
  color: #545963;
  font-size: 12px;
  line-height: 20px;
}

.text-small {
  font-size: 14px;
  line-height: 20px;
}

/* Inputs */
form {
  max-width: 440px;
  font-size: 14px;
  line-height: 20px;
}

label {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  font-weight: 600;
}

.required::after {
  content: '*';
  color: #DC0933;
}

.section-dark .required::after {
  color: #F82B4F;
}

input,
textarea {
  margin-bottom: 16px;
}

textarea {
  min-height: 92px;
}

/* Text Field */
[type=text],
[type=search],
[type=password],
[type=url],
[type=email],
[type=tel],
[type=number],
textarea {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  display: block;
  background: #E9EBEE;
  padding: 12px;
  width: 100%;
  max-width: 440px;
  border: 1px solid rgba(220, 9, 51, 0);
  border-radius: 4px;
  outline: none;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

nav [type=search] {
  padding: 8px 16px 8px 40px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 40px;
  position: relative;
}

nav .icon-search {
  position: absolute;
  z-index: 10;
  height: 36px;
  width: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.password {
  padding-right: 42px;
}

.forgot-password {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  float: right;
}

[type=text]:focus,
[type=search]:focus,
[type=password]:focus,
[type=url]:focus,
[type=email]:focus,
[type=tel]:focus,
[type=number]:focus,
textarea:focus {
  background: #fff;
  border: 1px solid #dc0933;
}

.section-dark [type=text],
.section-dark [type=search],
.section-dark [type=password],
.section-dark [type=url],
.section-dark [type=email],
.section-dark [type=tel],
.section-dark [type=number],
.section-dark textarea {
  color: #fff;
  background: #050911;
}

.section-dark [type=text]:focus,
.section-dark [type=search]:focus,
.section-dark [type=password]:focus,
.section-dark [type=url]:focus,
.section-dark [type=email]:focus,
.section-dark [type=tel]:focus,
.section-dark [type=number]:focus,
.section-dark textarea:focus {
  background: #121925;
  border: 1px solid #f82b4f;
}

.password-container {
  position: relative;
}

.field-icon {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  opacity: .4;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: right;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  width: 42px !important;
  height: 42px !important;
  cursor: pointer;
}

.field-icon-active {
  opacity: 1;
}

/* Dropdown */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  font-family: inherit;
  color: inherit;
  color: inherit;
  background: #E9EBEE;
  border: none;
  border-radius: 4px;
  width: 100%;
  max-width: 440px;
  padding: 12px 40px 12px 12px;
  border: 1px solid rgba(220, 9, 51, 0);
  -webkit-transition: all 200ms;
  transition: all 200ms;
  margin-bottom: 16px;
}

.select {
  position: relative;
}

.select::after {
  font-family: FontAwesome;
  display: block;
  content: "\f078";
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  color: inherit;
  right: 0;
  top: 2px;
  pointer-events: none;
}

.section-dark select {
  background: #050911;
  border: 1px solid rgba(248, 43, 79, 0);
}

select:focus {
  background: #fff;
  outline: none;
  border: 1px solid #dc0933;
}

.section-dark select:focus {
  background: #121925;
  outline: none;
  border: 1px solid #f82b4f;
}

/* Checkbox */
[type=checkbox] {
  opacity: 0;
  position: absolute;
}

[type=checkbox] + label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: inherit;
  font-weight: inherit;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
  max-width: 440px;
  padding: 16px 16px 16px 44px;
  border-radius: 4px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border: 1px solid rgba(18, 25, 37, 0);
}

.section-dark [type=checkbox] + label {
  border: 1px solid rgba(255, 255, 255, 0);
}

[type=checkbox] + label:hover {
  border: 1px solid rgba(18, 25, 37, 0.4);
}

.section-dark [type=checkbox] + label:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

[type=checkbox] + label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #E9EBEE;
  border-radius: 4px;
  left: 16px;
  top: 16px;
}

.section-dark [type=checkbox] + label::before {
  background: #050911;
}

[type=checkbox]:checked + label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #DC0933;
  border-radius: 4px;
  left: 16px;
  top: 16px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

[type=checkbox]:checked + label::after {
  font-family: FontAwesome;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  content: "\f00c";
  color: #fff;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #DC0933;
  border-radius: 4px;
  left: 16px;
  top: 16px;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

.section-dark [type=checkbox]:checked + label::after {
  background: #F82B4F;
}

[type=checkbox]:not(:checked) + label::after {
  font-family: FontAwesome;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  content: "\f00c";
  color: #fff;
  position: absolute;
  width: 18px;
  height: 18px;
  background: #DC0933;
  border-radius: 4px;
  left: 16px;
  top: 16px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

/* Radio Buttons */
[type=radio] {
  opacity: 0;
  position: absolute;
}

[type=radio] + label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  line-height: inherit;
  font-weight: inherit;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  width: 100%;
  max-width: 400px;
  padding: 16px 16px 16px 44px;
  border-radius: 4px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  border: 1px solid rgba(18, 25, 37, 0);
}

.section-dark [type=radio] + label {
  border: 1px solid rgba(255, 255, 255, 0);
}

[type=radio] + label:hover {
  border: 1px solid rgba(18, 25, 37, 0.4);
}

.section-dark [type=radio] + label:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

[type=radio] + label::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: #E9EBEE;
  border-radius: 100%;
  left: 16px;
  top: 16px;
}

.section-dark [type=radio] + label::before {
  background: #050911;
}

[type=radio]:checked + label::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #E9EBEE;
  border-radius: 100%;
  left: 16px;
  top: 16px;
}

.section-dark [type=radio]:checked + label::before {
  background: #050911;
}

[type=radio]:checked + label::after {
  content: "";
  color: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #DC0933;
  border-radius: 100%;
  left: 21px;
  top: 21px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 200ms;
  transition: all 200ms;
  opacity: 1;
}

.section-dark [type=radio]:checked + label::after {
  background: #F82B4F;
}

[type=radio]:not(:checked) + label::after {
  content: "";
  color: #fff;
  position: absolute;
  width: 10px;
  height: 10px;
  background: #DC0933;
  border-radius: 100%;
  left: 21px;
  top: 21px;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

/* Primary Button Light (Default) */
button,
[type=submit] {
  min-width: 120px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 4px;
  border: none;
  color: #fff;
  background: #DC0933;
  cursor: pointer;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  -webkit-box-shadow: 0 1px 2px rgba(41, 54, 76, 0.2);
          box-shadow: 0 1px 2px rgba(41, 54, 76, 0.2);
}

button.medium {
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  min-width: 80px;
}

button.small {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 4px 8px;
  min-width: auto;
  min-width: 80px;
}

button:hover,
[type=submit]:hover {
  background: #ab0728;
}

/* Primary Button Dark */
button.dark {
  background: #fff;
  color: #DC0933;
}

button.medium.dark {
  background: #fff;
  color: #DC0933;
}

button.dark:hover {
  background: #e6e6e6;
}

/* Secondary Light Button */
button.secondary {
  background: none;
  color: #DC0933;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(220, 9, 51, 0.4);
}

button.secondary:hover {
  border: 1px solid #dc0933;
}

/* Secondary Dark Button */
button.secondary.dark {
  background: none;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

button.secondary.dark:hover {
  border: 1px solid white;
}

/* Text Light Button */
button.text {
  background: none;
  color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.text:hover {
  color: #DC0933;
}

/* Text Dark Button */
button.text.dark {
  background: none;
  color: inherit;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.text.dark:hover {
  color: #F82B4F;
}

/* Imagery */
.image-quote {
  background-image: url(../img/image_quote.svg);
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.image-book-a-video-appointment {
  background-image: url(../img/image_explore-from-home.svg);
  background-size: 1200px auto;
  background-repeat: no-repeat;
  background-position: center top;
}

.image-explore-from-home {
  background-image: url(../img/gettyimages-509640330-2048x2048.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Lists */
ul {
  padding-left: 32px;
}

li {
  margin-bottom: 16px;
}

.big-numbers {
  counter-reset: li;
  list-style-type: none;
  padding-left: 16px;
}

.big-numbers li {
  position: relative;
  padding: 4px 0 4px 40px;
  margin-bottom: 16px;
}

.big-numbers li::before {
  content: counter(li);
  counter-increment: li;
  height: 24px;
  width: 24px;
  font-weight: 600;
  background: #121925;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Grids */
.grid-container {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33.333% 33.333% 33.333%;
      grid-template-columns: 33.333% 33.333% 33.333%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-item {
  padding: 0 40px;
}

/* Mobile */
@media only screen and (max-width: 478px) {
  section {
    padding: 80px 8px;
  }
}
/*# sourceMappingURL=trafalgar-styles.css.map */