/* Styling */

/* Colors */

$color-primary-1: #DC0933;
$color-primary-1-light: #F82B4F;
$color-primary-1-lighter: #F82B4F;
$color-primary-1-dark: #B3012E;
$color-primary-1-darker: #7F0020;

$color-primary-2: #121925;
$color-primary-2-light: #1A2B3F;
$color-primary-2-lighter: #4F5769;
$color-primary-2-dark: #050911;

$color-primary-3: #F4F5F6;
$color-primary-3-dark: #E9EBEE;
$color-primary-3-darker: #D5D9DF;
$color-primary-3-darkest: #B0B6C0;


/* Typography */

$font-heading: 'futura-next', sans-serif;
$font-body: 'Open Sans', sans-serif;


/* Fonts */

@font-face {
  font-family: 'futura-next';
  src: url("../fonts/Neufville Digital - FuturaNext-Bold.otf");
}